/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
    color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
    background-color: #cbbcb1;
}

.mask-custom {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, .15);
}

.navbar-brand {
    letter-spacing: 3px;
    font-family: 'Wire One', Helvetica, Arial, sans-serif;
    font-weight:normal;
	font-size:4rem;
}

.navbar {
    font-family: 'Wire One', Helvetica, Arial, sans-serif;
    font-weight:normal;
	font-size:2.5em;
}

.bg-image {
    background-image: url('https://images.alphacoders.com/756/756534.jpg');
    background-size: 100%;
}

.button {
    color: black;
}

.dropdown-menu {
    font-size: 1.7rem;
    min-width: 375px;
}

#login-button {
	color: black;
	font-size: 1em;
}

#login-header {
	font-size: 1.7rem;
}

.top-buffer {
	margin-top: 125px;
}
